*{
    margin:0;
    padding:0;
}
body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom right, #e7ebf0, #a5b0bc);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scanner-container{
    position: relative;
    width: 300px;
    height: 300px;
    background: linear-gradient(to bottom right, #e8ebf0, #9ca6b1);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    box-shadow: -3px -3px 15px rgba(255,255,255,0.9), 5px 5px 15px rgba(61, 61, 61, 0.5);
    cursor: pointer;
}
.scanner-container::before{
    position: absolute;
    content:'';
    width: 305px;
    height: 305px;
    border-radius: 45%;
    background: linear-gradient(to bottom right, #9ca6b1,#e8ebf0);
    z-index: -1;
    transition:opicity 0.5s linear;
    opacity: 0;
}

.scanner-container:hover::before{
    opacity: 1;
}
i{
    font-size: 8rem;
    color:#a9b4c0;
    transition: ease-in-out 1s;
    transform: translateY(-10px);
    opacity: 0;
}
.scanner-container:hover > i{
    transform: translateY(5px);
    opacity: 1;
}
.small-container{
    margin: 2rem 0rem;
    cursor: pointer;
    background: linear-gradient(to bottom right, #e8ebf0, #9ca6b1);
    width: 30px;
    height: 30px;
    border-radius:45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light{
    height: 30%;
    width: 30%;
    grid-column: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 2px rgb(202, 201, 201);
    transition: ease-in-out 1s;;
}
.scanner-container:hover + .small-container > .light{
    background: rgb(0, 240, 0);
    box-shadow: 0px 0px 20px 2px rgb(15, 1, blue);
}