body {
  margin: 0;
  filter: contrast(10);
  width: 100vw;
  height: 100vh;
}
.father-div {
  width: 100%;
  height: 100%;
  background-color: #fff;
  filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.father-div .container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  z-index: 5;
}
.dot1 {
  background: #4ebfdd;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.dot2 {
  background-color: #4ebfdd;
  width: 50px;
  height: 50px;
  animation: d2 2s;
  border-radius: 50%;
  position: absolute;
  left: 200px;
  bottom: 40px;
  z-index: 4;
}
.dot3 {
  background: #4ebfdd;
  animation: d3 2s 0.2s;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: 200px;
  top: 40px;
  z-index: 4;
}
.dot4 {
  background: #4ebfdd;
  animation: d4 2s 0.4s;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  left: 40px;
  bottom: 40px;
  z-index: 4;
}
.dot5 {
  background: #4ebfdd;
  animation: d5 2s 0.6s;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  left: 40px;
  top: 40px;
  z-index: 4;
}
.dot6 {
  background: #4ebfdd;
  animation: d6 2s 0.8s;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: 150px;
  bottom: 10px;
  z-index: 4;
}
@keyframes d2 {
  0% {
    left: 200px;
    bottom: 40px;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: 300px;
    bottom: -150px;
    opacity: 0;
  }
}
@keyframes d3 {
  0% {
    left: 200px;
    top: 40px;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: 400px;
    top: 150px;
    opacity: 0;
  }
}
@keyframes d4 {
  0% {
    left: 40px;
    bottom: 40px;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: -100px;
    bottom: -150px;
    opacity: 0;
  }
}
@keyframes d5 {
  0% {
    left: 40px;
    top: 40px;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: -200px;
    top: -40px;
    opacity: 0;
  }
}
@keyframes d6 {
  0% {
    left: 150px;
    bottom: 10px;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: 0px;
    bottom: -150px;
    opacity: 0;
  }
}
