html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 40px;
  background-color: #1d212b;
}
.receipt {
  padding-top: 150px;
  width: 300px;
  max-width: 100%;
  margin: auto;
  position: relative;
}
.receipt__half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  background: white;
  perspective: 1000px;
}
.receipt__half::after {
  content: "";
  display: block;
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  backface-visibility: hidden;
  transition: all 0.8s ease;
  transition-delay: 0.35s;
}
.active .receipt__half::after {
  transition-delay: 0s;
}
.upper {
  z-index: 10;
  width: 100%;
  height: 300px;
  border-radius: 5px 5px 0 0;
  background-image: url("https://y.gtimg.cn/music/photo_new/T002R300x300M000000LfSb70Ewn3w_1.jpg");
}
.upper::after {
  top: 100%;
  background: #f7f7f7;
  transform: rotate3d(1, 0, 0, -90deg);
  transform-origin: top center;
}
.active .upper::after {
  background: white;
  transform: rotate3d(1, 0, 0, 0deg);
}
.lower {
  transition: transform 0.8s ease;
  transition-delay: 0.35s;
  border-radius: 0 0 5px 5px;
}
.lower::after {
  bottom: 100%;
  background: #ebebeb;
  transform: rotate3d(1, 0, 0, 90deg);
  transform-origin: bottom center;
}
.active .lower {
  border-top: none;
  transform: translateY(100px);
  transition-delay: 0s;
}
.active .lower::after {
  background: white;
  transform: rotate3d(1, 0, 0, 0deg);
}
h1 {
  margin: 10px 0 20px;
}
h1.page-title {
  text-align: center;
  margin-bottom: 60px;
}
p {
  margin: 0;
}
p.sm {
  font-size: 80%;
}
button {
  width: 100%;
  padding: 15px 20px;
  background: none;
  outline: none;
  border: none;
  color: #888;
  font-size: 90%;
  font-weight: 600;
  cursor: pointer;
  transition: all ease 0.35s;
}
button:hover {
  color: #484848;
}
.receipt__content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 20px;
  position: absolute;
  top: 300px;
  left: 0;
  z-index: 20;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-8px);
  transition: opacity ease 0.35s, transform ease 0.35s;
  transition-delay: 0s;
}
.active .receipt__content {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.8s;
}
table {
  width: 100%;
}
tr {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
