* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Helvetica", "Arial", sans-serif;
}
body {
  width: 100vw;
  min-height: 100vh;
  background-color: #f3a153;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider {
  width: 300px;
  position: relative;
  margin: auto;
  padding-top: 5%;
  perspective: 1000px;
}
.slider ul {
  position: relative;
  left: -900px;
}
.slider li {
  width: 300px;
  float: left;
  box-sizing: border-box;
  padding: 5px;
  cursor: pointer;
  transform: rotateY(-60deg);
  transition: 0.6s;
  overflow: hidden;
  -webkit-box-reflect: below 10px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));
  border-radius: 10px;
  background: #f3a153;
  box-shadow: 5px 5px 10px #ca8645, -5px -5px 10px #ffbc61;
}
.slider li img {
  width: 100%;
  height: auto;
}
.slider li:nth-child(4) {
  width: 300px;
  transform: rotateY(0);
  transition: 0.6s;
}
.slider li:nth-child(1),
.slider li:nth-child(2),
.slider li:nth-child(3) {
  transform: rotateY(60deg);
}
.handle {
  width: 500px;
  margin: 20px auto;
  text-align: center;
}
.handle a {
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color: #fff;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.6s;
}
.handle a:nth-child(4) {
  background-color: #f6c555;
}
.timer {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #222;
  background-color: #222;
  position: relative;
  margin: 0 49%;
  overflow: hidden;
}
