body {
  margin: 0;
  background-image: url("background.png");
  background-size: cover;
}
#container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Avenir, sans-serif;
}
#canvas {
  display: block;
  margin: 0 auto;
  background-image: url("result.png");
  background-size: cover;
  cursor: crosshair;
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png)
      53 53,
    crosshair;
}
